<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="th-product-view">
                <a href="#" class="th-product-view__link">
                    <img src="/images/demo/product-1.jpg" alt="" class="img-responsive th-product-view__image">
                </a>

                <div class="th-product-view__alternates">
                    <div class="th-alt-views">
                        <a href="#" class="th-alt-views__link">
                            <img src="/images/demo/product-1-v1.jpg" alt="" class="img-responsive th-alt-views__image">
                        </a>

                        <a href="#" class="th-alt-views__link">
                            <img src="/images/demo/product-1-v2.jpg" alt="" class="img-responsive th-alt-views__image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="th-product-details">
                <div class="th-product-details__title">
                    <div class="th-product-title th-product-title--large">Vanilla Ice Cream</div>
                </div>

                <div class="th-product-details__price">
                    <div class="th-product-price__price th-product-price__price--large">$5.00</div>
                </div>
            </div>

            <div class="th-product-options">

                <div class="th-product-options__btn-dropdown">
                    <label class="th-label" id="size">Size</label>
                    <div class="btn-group clearfix th-btn-dropdown">
                        <button type="button" id="size" class="btn btn-default dropdown-toggle th-btn-dropdown__button" data-toggle="dropdown">
                            gallon <span class="caret th-btn-dropdown__caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">gallon</a></li>
                            <li><a href="#">quart</a></li>
                            <li><a href="#">pint</a></li>
                            <li><a href="#">cup</a></li>
                        </ul>
                    </div>
                </div>

                <div class="th-product-options_qty">
                    <label for="qty" class="th-label">Qty</label>
                    <div class="th-qty">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default th-qty__button" type="button" id="qty">-</button>
                            </div>
                            <input type="text" class="form-control th-qty__input" placeholder="1">
                            <div class="input-group-btn">
                                <button class="btn btn-default th-qty__button" type="button">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default th-product-options__add-cart">Add to Cart</button>
            </div>

            <div class="th-product-description">
                <div class="th-product-description__title">Description</div>
                <p>Our vanilla ice cream is made with the best vanilla bean and organic cream. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <p>
                    Made in the USA <br>
                    100% Certified Organic <br>
                    Available in pint, quart &amp; gallon sizes
                </p>

                <div class="th-product-description__title">Share</div>
                <div class="th-icongroup">
                    <a class="th-icon th-icon--facebook th-icongroup__icon" href="#" target="_blank">
                        <div class="th-icon__foreground"></div>
                    </a>
                    <a class="th-icon th-icon--twitter th-icongroup__icon" href="#" target="_blank">
                        <div class="th-icon__foreground"></div>
                    </a>
                    <a class="th-icon th-icon--pinterest th-icongroup__icon" href="#" target="_blank">
                        <div class="th-icon__foreground"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
